@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-family: "Jockey One", sans-serif;
  letter-spacing: 0.01em;
  position: relative;
}

.title {
  font-size: 5rem;
}

footer {
  padding: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.long-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}
