@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.main {
  width: 100vw;
  height: auto;
  text-align: center;
}

.title {
  font-size: 5rem;
  font-family: "Jockey One", sans-serif;
}

footer {
  font-family: "Jockey One", sans-serif;
}
