@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-family: "Jockey One", sans-serif;
  position: relative;
}

.title {
  font-size: 5rem;
}

footer {
  padding: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.side-buttons {
  position: absolute; /* .main 内で絶対配置 */
  bottom: 60px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.side-button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
