.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 470px;
}

.score-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.score,
.remaining-time {
  font-size: 35px; /* フォントサイズを大きくする */
}

.info {
  display: flex;
  align-items: center;
}

.time-bar {
  width: 470px;
  height: 25px;
  background-color: #ddd;
  position: relative;
  border-radius: 5px; /* 角を四角くする */
  margin-bottom: 5px;
}

.time-remaining {
  height: 100%;
  background-color: #34ce42;
  border-radius: 5px 0 0 5px; /* 角を四角くする */
  width: 100%;
}

.play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    ${numCols},
    50px
  ); /* グリッドの列数とセルの幅を調整 */
  gap: 14px; /* グリッドセル間の間隔 */
}

.grid-row {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.gem {
  width: 50px; /* ジェムの幅を少し小さくする */
  height: 50px; /* ジェムの高さを少し小さくする */
  border-radius: 50%;
  margin: 2px;
  display: flex; /* 追加：ジェム内の要素を中央に配置するために flex を使用 */
  align-items: center; /* 追加：縦方向に中央に配置 */
  justify-content: center; /* 追加：横方向に中央に配置 */
}

.gem-background {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  pointer-events: none;
}

/* ジェムの種類ごとに色を設定 */
.gem-0 {
  background-color: red;
}
.gem-1 {
  background-color: blue;
}
.gem-2 {
  background-color: green;
}
.gem-3 {
  background-color: yellow;
}
.gem-4 {
  background-color: orange;
}
.gem-5 {
  background-color: purple;
}
